@tailwind base;
@tailwind components;
@tailwind utilities;


.navigation-bar {
  position: absolute;
}

.navigation-content {
  background: linear-gradient(to right, #010328, #273fdd);
  padding: 6%;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 10%;
  background-color: #00008bd4;
  width: -webkit-fill-available;
  height: fit-content;
}

.navigation-content li a {
  display: flex;
}

@media(min-width: 1024px) {

  .navigation-content {
   
    padding: 6%;
    position: sticky;
    z-index: 1000;
    left: 10%;
    width: -webkit-fill-available;
    height: fit-content;
  }

  .navigation-content {
    padding: 25px;
  }
}

/* styles.css */
.dark-striped-background {
  background-color: #101019;
}
